.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.top{
    height: 60px;
    width: 500px;
    background-color: #b8eded;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container{
    display: flex;
    align-items: center;
}

.left{
    align-items: center;
    background-color: #b8eded;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 500px;
    width: 60px;
}

.main{
    height: 500px;
    width: 500px;
}

.box{
    background-color: #b5dc36;
    height: 50px;
    position: relative;
    width: 50px;
}

.right{
    height: 500px;
    width: 60px;
    align-items: center;
    background-color: #b8eded;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.bottom{
    height: 60px;
    width: 500px;
    align-items: center;
    background-color: #b8eded;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}